:root{
    --primary-color:#626368;

}
body{
    background-color: #abd8da ;
}


h1{
    color:var(--primary-color);
    text-align: center;
}



.wrapping{
    border:2px solid #9C9E9B  ;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 2px;
}


.details{
    display:flex;
    justify-content: center;
    flex:1;
    padding: 20px;

}

button{
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #626368;
    color: white;
    box-shadow: 5px;
}

button:hover{
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    background-color:white;
    color:#626368;
    box-shadow: 5px;
}


p{
    border: 1px solid #474646;
    padding: 15px;
    margin: 20px;
    background-color:#C4C4C2;
}



