:root {
  --primary-color: #626368;
}

body {
  background-color: rgb(201, 201, 191);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../images/candle-1.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: contrast(90%);
  filter: brightness(130%);
  padding: 250px 0px;
}

.title-wrapper {
  position: absolute;
  top: 50px;
  left: 20px;
}

h1 {
  color: white;

}

h2 {
  color: white;
  text-align: center;
}

.htitle{
  color:white;
  font-family: Great Vibes, Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: right;
  padding:20px;


}

.htitle h1{
  font-size: 100px;
}

 .bg-success-subtle{
        background-color:rgb(181, 184, 185) !important ;
        color: var(--primary-color);
      }

      .border.bg-info.rounded.p-1.text-decoration-none.text-white{
         background-color:rgb(181, 184, 185) !important ;
        color: var(--primary-color);

      }


      .navbar-blue {
        background-color:rgb(181, 184, 185);
      }

      .navigation-links{
        text-decoration: none;
      }

      .know{
        font-style: italic;
      }

        .boxes{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }



.buttons {
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 50px;
  padding: 10px;
  text-decoration: none;
}

.contact {
  text-decoration: none;
  border: 1px solid #474646;
  border-radius: 4px;
  color: white;
  background-color: #a0a19c;
  padding: 20px;
  margin: 10px;
}

.about {
  border: 1px solid #474646;
  border-radius: 4px;
  color: white;
  background-color: #a0a19c;
  padding: 20px;
  text-decoration: none;
  margin: 10px;
}

.contact:hover {
  text-decoration: none;
  border: 1px solid #474646;
  border-radius: 4px;
  color: var(--primary-color);
  background-color: white;
  padding: 20px;
  margin: 10px;
}

.about:hover {
  border: 1px solid #474646;
  border-radius: 4px;
  color: var(--primary-color);
  background-color: white;
  padding: 20px;
  text-decoration: none;
  margin: 10px;
}

p {
  text-align: center;
  text-decoration: double;
}

img{
  width: 80%;
  display: block;
  margin: auto;

}

.box  footer{
  font-size: 20px;
  font-family: sans-serif;
  border:2px solid  #626368;
  border-radius: 4px;
  padding: 3px;
 
}

.boxes {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-row-gap: 30px;
  grid-column-gap: 20px;
 
}

footer ul {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(163, 162, 162);
  text-decoration: none;
  color: rgb(45, 45, 45);
  
}
 li a {
  color:rgb(73, 72, 72);
    text-decoration: none;
    font-weight: bolder;
    transition: 200ms all ease-in-out;
 }

 
 li a:hover{
  color:white;
    text-decoration: none;
    font-weight: bolder;
 }

 .medialinks{
  color:rgb(73, 72, 72);
    text-decoration: none;
    font-weight: bolder;
    transition: 200ms all ease-in-out;
 }

 
 .medialinks:hover{
  color:white;
    text-decoration: none;
    font-weight: bolder;
 }

