:root{
    --primary-color:#626368;

}
body{
    background-color: #abd8da ;
}


h1{
    color:var(--primary-color);
    text-align: center;
}


.details{
    display:flex;
    justify-content: center;
    flex:1;
    padding: 20px;

}

p{
    border: 1px solid #474646;
    padding: 15px;
    margin: 20px;
    background-color:#C4C4C2;
}



